(
    selected_tab: Some("Reset"),
    command_fg: Some("#C6D0F5"),
    selection_bg: Some("#626880"),
    selection_fg: Some("#C6D0F5"),
    cmdbar_bg: Some("#292C3C"),
    cmdbar_extra_lines_bg: Some("#292C3C"),
    disabled_fg: Some("#838BA7"),
    diff_line_add: Some("#A6D189"),
    diff_line_delete: Some("#E78284"),
    diff_file_added: Some("#E5C890"),
    diff_file_removed: Some("#EA999C"),
    diff_file_moved: Some("#CA9EE6"),
    diff_file_modified: Some("#EF9F76"),
    commit_hash: Some("#BABBF1"),
    commit_time: Some("#B5BFE2"),
    commit_author: Some("#85C1DC"),
    danger_fg: Some("#E78284"),
    push_gauge_bg: Some("#8CAAEE"),
    push_gauge_fg: Some("#303446"),
    tag_fg: Some("#F2D5CF"),
    branch_fg: Some("#81C8BE")
)
