(
    selected_tab: Some("Reset"),
    command_fg: Some("#4C4F69"),
    selection_bg: Some("#ACB0BE"),
    selection_fg: Some("#4C4F69"),
    cmdbar_bg: Some("#E6E9EF"),
    cmdbar_extra_lines_bg: Some("#E6E9EF"),
    disabled_fg: Some("#8C8FA1"),
    diff_line_add: Some("#40A02B"),
    diff_line_delete: Some("#D20F39"),
    diff_file_added: Some("#DF8E1D"),
    diff_file_removed: Some("#E64553"),
    diff_file_moved: Some("#8839EF"),
    diff_file_modified: Some("#FE640B"),
    commit_hash: Some("#7287FD"),
    commit_time: Some("#5C5F77"),
    commit_author: Some("#209FB5"),
    danger_fg: Some("#D20F39"),
    push_gauge_bg: Some("#1E66F5"),
    push_gauge_fg: Some("#EFF1F5"),
    tag_fg: Some("#DC8A78"),
    branch_fg: Some("#179299")
)
