(
    selected_tab: Some("Reset"),
    command_fg: Some("#CAD3F5"),
    selection_bg: Some("#5B6078"),
    selection_fg: Some("#CAD3F5"),
    cmdbar_bg: Some("#1E2030"),
    cmdbar_extra_lines_bg: Some("#1E2030"),
    disabled_fg: Some("#8087A2"),
    diff_line_add: Some("#A6DA95"),
    diff_line_delete: Some("#ED8796"),
    diff_file_added: Some("#EED49F"),
    diff_file_removed: Some("#EE99A0"),
    diff_file_moved: Some("#C6A0F6"),
    diff_file_modified: Some("#F5A97F"),
    commit_hash: Some("#B7BDF8"),
    commit_time: Some("#B8C0E0"),
    commit_author: Some("#7DC4E4"),
    danger_fg: Some("#ED8796"),
    push_gauge_bg: Some("#8AADF4"),
    push_gauge_fg: Some("#24273A"),
    tag_fg: Some("#F4DBD6"),
    branch_fg: Some("#8BD5CA")
)
