(
    selected_tab: Some("Reset"),
    command_fg: Some("#CDD6F4"),
    selection_bg: Some("#585B70"),
    selection_fg: Some("#CDD6F4"),
    cmdbar_bg: Some("#181825"),
    cmdbar_extra_lines_bg: Some("#181825"),
    disabled_fg: Some("#7F849C"),
    diff_line_add: Some("#A6E3A1"),
    diff_line_delete: Some("#F38BA8"),
    diff_file_added: Some("#F9E2AF"),
    diff_file_removed: Some("#EBA0AC"),
    diff_file_moved: Some("#CBA6F7"),
    diff_file_modified: Some("#FAB387"),
    commit_hash: Some("#B4BEFE"),
    commit_time: Some("#BAC2DE"),
    commit_author: Some("#74C7EC"),
    danger_fg: Some("#F38BA8"),
    push_gauge_bg: Some("#89B4FA"),
    push_gauge_fg: Some("#1E1E2E"),
    tag_fg: Some("#F5E0DC"),
    branch_fg: Some("#94E2D5")
)
